# Ignorar archivo de variables de entorno
.env
node_modules/
**/node_modules/
.angular/
**/.angular/
.history/
**/history/
.gemini/
**/.gemini/
.vendor/
**/.vendor/
.scripts/
**/scripts/
**/**/scripts/

.gitignore
.gitattributes
erpgp.code-workspace
erpgp.postman_collection.json
start-dev.ps1
composer.lock
detener-servicios.ps1
diagnostico.ps1
iniciar-todo.ps1
start-backend.ps1
start-frontend.ps1
test_login.js
wb_options.xml
wb_state.xml
COMO-INICIAR.md
composer.json
bcknd/.env
